body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 100;
    padding: 50;
}  

.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: -1px 1px 5px rgb(202, 202, 202);
    border-radius: 15px;
}    

img {
    margin: 10px auto;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 98%;
    border-radius: 30px;

}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 100px; 
    margin-right: 10px;
}

h1 {
    color: #0d3777;
    text-shadow: 2px 2px 4px rgba(52, 152, 219, 0.5);
    margin: 5px;
    margin-right: 110px;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding:10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border: 30%;
    cursor: pointer;
    border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #07f7ff;
}

#hasil {
    font-size: 20px;
    color: #07b8b8;
    margin-top: 20px;
    text-shadow: 1px 1px 1px rgba(43, 20, 17, 0.5);
    
}

#watermark {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}